/* Definiciones base */
body {
    margin: 0;
    padding: 0;

    font-size: 16px;
    font-family: "Inter" !important;

    background-color: #FFF0DC;
}

/* Clases "plantilla" */
.text {
    color: #111;
}

h1.title {
    font-size: 3rem;
    text-align: center;

    margin: 2rem auto;
}

/* Plantilla 'base.html' */
nav {
    background-color: #111;
    color: #fff;

    display: flex;
    margin: 0;
    padding: 1rem inherit;
}

nav a {
    color: #fff;
    text-decoration: none;

    scale: 1;
}

nav a:hover {
    scale: 1.1;
    transition: 200ms;
}

nav a.logo:hover {
    /* animation: infiniteEasedRotation 5s ease-in-out infinite; */
    animation: quickWave .4s ease-in-out;
    scale: 1;
}

@keyframes quickWave {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(10deg);
    }

    50% {
        transform: rotate(-10deg);
    }

    75% {
        transform: rotate(5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

#content {
    min-height: calc(100vh - 44px);
}

#footer {
    position: fixed;
    bottom: 0;
    padding: 0 10px;
    width: 100%;

    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
    color: #000;

    font-size: 1em;
}

#footer div {
    height: 1.5em;
}

/* Página 'inicio' */
#inicio {
    color: #fff;
    min-height: calc(100vh - 44px);

    background-image: url('/static/images/fre-sonneveld-q6n8nIrDQHE-unsplash.webp');
    background-size: cover;
    background-position: center;
}

#inicio .home-info {
    color: #fff;
    text-align: center;

    text-shadow: 10px 10px 20px #000;

    margin: 0 auto;
}

#inicio h1 {
    padding-top: 35vh;

    font-size: 5rem;
    font-weight: 600;
}

/* Página 'resumen' */
#resumen {
    padding-bottom: 3rem;
}

#resumen h2 {
    margin-top: 1rem;
}

#resumen table {
    margin: 0 auto;
}

#resumen table td:nth-child(1) {
    text-align: end;
}

#resumen table td:nth-child(2) {
    text-align: start;
}


/* Página 'subir' */
#subir p {
    text-align: center;
}
