/* Definiciones base */
body {
    margin: 0;
    padding: 0;

    font-size: 16px;
    font-family: "Inter" !important
}

/* Clases "plantilla" */
.text {
    color: #111;
}

h1.title {
    font-size: 3rem;
    text-align: center;

    margin-bottom: 1.5rem;
}

/* Plantilla 'base.html' */
nav {
    background-color: #111;
    color: #fff;

    margin: 0;
    padding: 1rem inherit;

    display: flex;
    justify-content: space-between;
}

nav a {
    color: #fff;
    text-decoration: none;

    scale: 1;
}

nav a:hover {
    scale: 1.1;
    transition: 200ms;
}

nav a.logo:hover {
    /* animation: infiniteEasedRotation 5s ease-in-out infinite; */
    animation: quickWave .5s ease-in-out;
}

@keyframes infiniteEasedRotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(720deg);
    }
}

@keyframes quickWave {
    0% {
        transform: rotate(0deg);
    }

    33% {
        transform: rotate(10deg);
    }

    67% {
        transform: rotate(-10deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

#footer {
    position: fixed;
    bottom: 0;
    padding: 0 10px;
    width: 100%;

    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
    color: #fff;
}

#footer div {
    height: 1.5em;
}

/* Página 'inicio' */
#inicio {
    color: #fff;
    height: calc(100vh - 40px);

    background-image: url('/static/images/fre-sonneveld-q6n8nIrDQHE-unsplash.webp');
    background-size: cover;
    background-position: center;
}

#inicio .home-info {
    color: #fff;
    text-align: center;

    text-shadow: 10px 10px 20px #000;

    margin: 0 auto;
}

#inicio h1 {
    padding-top: 35vh;

    font-size: 5rem;
}

/* Página 'resumen' */
#resumen {
    background-color: #FFF0DC;
    color: #111;
    padding: 1rem;
    height: calc(100vh - 40px);
}
