{% extends "base.html" %}

{% block title %}Media{% endblock title %}

{% block body %}
{% if not avg %}
<form action="/peticion/{{ filename }}" method="post">

    <label for="Hora">Hora:</label>
    <input type="text" id="Hora" name="Hora"><br><br>

    <label for="DOW">Día de la semana:</label>
    <input type="text" id="DOW" name="DOW"><br><br>

    <label for="mes">Mes:</label>
    <input type="text" id="mes" name="mes"><br><br>

    <label for="ano">Año:</label>
    <input type="text" id="ano" name="ano"><br><br>

    <input type="submit" value="Enviar">
</form>
{% else %}
<h1>La media es: {{ avg|round(2) }} kWh</h1>
{% endif %}
{% endblock body %}
