{% extends "base.html" %}

{% block title %}Media{% endblock title %}

{% block body %}
<h1 class="title">Medias dinámicas</h1>

<center>
    <form>
        <label for="ano">Año:</label>
        <input type="text" id="ano" name="ano"><br><br>

        <label for="mes">Mes:</label>
        <input type="text" id="mes" name="mes"><br><br>

        <label for="DOW">Día de la semana:</label>
        <input type="text" id="DOW" name="DOW"><br><br>

        <label for="Hora">Hora:</label>
        <input type="text" id="Hora" name="Hora"><br><br>

        <div class="btn btn-outline-dark" hx-post="/peticion/{{ filename }}" hx-target="#media">Calcular media</div>
    </form>
    <h1 id="media" class="mt-5">La media es: (Pendiente de cálculo)</h1>
</center>
{% endblock body %}
