{% extends "base.html" %}

{% block title %}Sobre nosotros{% endblock title %}

{% block body %}
<h1 class="title">Sobre nosotros</h1>

<div class="container text-justified">
<p>Somos 4 estudiantes de segundo curso del Grado de Ciencia e Ingeniería de Datos que decidimos apuntarnos al reto de HackUDC.</p>

<p>
    Cada uno tuvo sus ideas y trabajó todo lo posible para llevarlas a cabo y que salieran adelante hasta el proyecto final.
    <br>
    Aunque no todo lo que planeamos terminó siendo posible, estamos orgullosos de lo que hemos conseguido.
</p>

<p>
    Nuestro propósito principal fue siempre poner en práctica algunas de los conocimientos aprendidos en el grado hasta este momento, como
    por ejemplo el uso de bases de datos, el desarrollo web, el uso de APIs, etc.
    <br>
    Junto a técnicas de análisis de datos como los modelos de regresión, clasificación, y, en menor medida, RRNNAA.
</p>

<div>
    Algunas de nuestras ideas resultaron no ser posibles por distintos motivos:
    <ul>
        <li>Pensábamos obtener información acerca de las emisiones de CO2 por kWh generado para así poder calcular la huella de carbono.
            <br>
            Finalmente no fue posible debido a problemas con la API de la que pensábamos obtener los datos.
        </li>
        <li>Pensamos en realizar modelos de regresión con los datos de consumo de energía y su precios.
            <br>
            Más adelante nos dimos cuenta de que los datos no eran suficientemente buenos para realizar un modelo de regresión.
        </li>
    </ul>
</div>
<h2>Nosotros:</h2>

<p>
    Antón Liñares:
    <br>
    Eché una mano en el tratamiento de datos con Pandas y realicé una investigación sobre la posibilidad de modelizar el consumo eléctrico a partir de otras variables.
</p>
<p>
    Xoel Maestu:
    <br>
    Principalmente trabajé en el tratamiento de datos con Pandas, en la investigación de la API y en un análisis inicial del dataset con R.
</p>
<p>
    Pablo Fernández:
    <br>
    Principalmente trabajé en la web de la aplicación, echando una mano de vez en cuando con el tratamiento de datos con Pandas.
</p>
<p>
    Adrán Freijeiro:
    <br>
    Ayudé con el manejo de datos con Pandas y en la generación de gráficos útiles para el sitio Web
</p>

<h2>Recursos de terceros empleados</h2>
<ul>
    <li>Lucide icons</li>
    <li>Bootstrap</li>
    <li>HTMX</li>
    <li>Chart.js</li>
    <li>Unsplash</li>
</ul>
    </div>

{% endblock body %}
